.divmenu-parent {
  align-items: center;
  float: left;
  display: inline-flex;
  max-width: 100%;
  min-width: 100%;
}

.divmenu {
  float: left;
  display: inline-flex;
  padding: 2px;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 20px;
  min-height: 30px;
}

.divmenu_right {
  float:right;
  display: inline-flex;
  padding: 2px;
  margin-top: 2px;
  margin-right: 20px;
}

.txt_lat_lgn{
  width: 75px;
  height: 20px;
}
.txt_autocomplete{
  width: 350px;
}

.button {
  background-color: #58ac82;
  font-weight: bolder;
  border-color: #3a7055;
}

.button:hover,
.button:focus {
  background-color: #3a7055;
  color: #fefffe;
  font-weight: bolder;
}
.button:focus {
  box-shadow: 0 0 0 4px rgba(30, 255, 0, 0.15);
}

.button_reset {
  background-color: #a0afb9;
  font-weight: bolder;
}

.button_reset:hover,
.button_reset:focus {
  background-color: #373f3b;
  color: #fefffe;
  font-weight: bolder;
}
.button_reset:focus {
  box-shadow: 0 0 0 4px rgba(118, 119, 118, 0.15);
}

.info_icon{
  cursor: pointer;
  text-decoration: solid;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding-right: 15px;
}
.info_icon:hover{
  color: rgb(0, 0, 0);
}